@use "../../../global-styles/forward" as *;

.chat-page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: calc(100svh - var(--page-padding) * 2);
  margin-inline: auto;
  border-radius: 30px;
}

.chat-page__header,
.chat-page__footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: $color-anti-flash-white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 10px rgb(0 0 0 / 20%);

  @media (width <= 600px) {
    padding: 8px 10px;
  }
}

.chat-page__header {
  gap: 25px;

  @media (width <= 520px) {
    gap: 15px;
  }
}

.chat-page__user-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;

  @media (width <= 520px) {
    width: min-content;
    font-size: 14px;
    line-height: 1.2;
  }
}

.chat-page__user-name {
  overflow: hidden;
  max-width: 190px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color-dark-green;

  @media (width <= 520px) {
    max-width: 132px;
  }
}

.chat-page__heading {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-shadow:
    0 0 10px $color-iguana-green,
    0 0 10px $color-iguana-green,
    0 0 20px $color-iguana-green;
  color: $color-dark-green;

  @media (width <= 520px) {
    font-size: 24px;
  }
}

.chat-page__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;

  & .chat-page__about-link,
  & .chat-page__logout-button {
    min-width: 72px;
    padding-inline: 8px;
  }

  @media (width <= 520px) {
    width: min-content;

    & .chat-page__about-link,
    & .chat-page__logout-button {
      padding-block: 4px;
    }
  }
}

.chat-page__year {
  margin: 0;
  font-weight: 600;
}

.chat-page__git-link {
  display: flex;
  gap: 6px;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
  color: $color-black-olive;
  transition: color 0.6s ease-in-out;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: $color-black-olive;
    transition: background-color 0.6s ease-in-out;
    mask-image: url("../../../assets/icons/github-mark.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover,
  &:focus-visible {
    @include media-hover {
      color: $color-dark-blue;

      &::before {
        background-color: $color-dark-blue;
      }
    }
  }
}

.chat-page__rss-link {
  width: 100px;
  height: 30px;
  color: $color-black-olive;
  transition: color 0.6s ease-in-out;

  &:hover,
  &:focus-visible {
    @include media-hover {
      color: $color-dark-blue;
    }
  }
}
