@use "sass:color";
@use "../../../../../../../global-styles/forward" as *;

.message-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  &--sent {
    justify-content: flex-end;
  }
}

.message-item__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  padding: 1%;
  padding-bottom: 0;
  background-color: $color-iguana-green;
  border-radius: 4px;
  transition: background-color 0.6s ease-in-out;

  .message-item--sent & {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      @include media-hover {
        background-color: $color-green;
      }
    }
  }
}

.message-item__header,
.message-item__footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.message-item__text {
  width: 100%;
  padding: 4px 6px;
  text-align: justify;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background: $color-anti-flash-white;
  border-radius: 4px;
}

.message-item__footer {
  padding-block: 2px;
}

.message-item__from {
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-item__status {
  display: none;

  &--shown {
    display: block;
  }
}
