@use "sass:color";
@use "../../../../../global-styles/forward" as *;

.dialogue {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
  height: 100%;
  line-height: 1.2;

  @media (width <= 600px) {
    font-size: 16px;
  }

  @media (width <= 520px) {
    font-size: 14px;
  }
}

.dialogue__header {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 0 8px 8px;
  border-bottom: 1px solid $color-black-olive;

  @media (width <= 600px) {
    padding: 0 0 3px;
  }
}

.dialogue__login {
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialogue__activity {
  margin: 0;
  color: $color-red;

  &--online {
    color: $color-green;
  }

  &--hidden {
    display: none;
  }
}

.dialogue__content {
  @include list-reset;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
  overflow-x: visible;
  overflow-y: auto;
  min-height: 0;
}

.dialogue__greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialogue__form {
  display: flex;
  gap: 4px;
}

.dialogue__input {
  flex-grow: 1;
  min-width: 0;
  padding: 5px;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid $color-black-olive;
  border-radius: 5px;

  @include media-hover {
    &:hover:not(:disabled) {
      outline: 1px solid $color-black-olive;
    }
  }

  &:disabled {
    opacity: 0.5;

    &::placeholder {
      opacity: 0;
    }
  }
}

.dialogue__button {
  padding: 5px;
}
