@use "sass:color";
@use "../../../../../global-styles/forward" as *;

.dialogue {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
  height: 100%;
  line-height: 1.2;

  @media (width <= 600px) {
    font-size: 16px;
  }

  @media (width <= 520px) {
    font-size: 14px;
  }
}

.dialogue__header {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 0 8px 8px;
  border-bottom: 1px solid $color-black-olive;

  @media (width <= 600px) {
    padding: 0 0 3px;
  }
}

.dialogue__login {
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialogue__activity {
  margin: 0;
  color: $color-red;

  &--online {
    color: $color-green;
  }

  &--hidden {
    display: none;
  }
}

.dialogue__content {
  @include list-reset;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
  overflow-x: visible;
  overflow-y: auto;
  min-height: 0;
}

.dialogue__greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialogue__divider {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color-black-olive;
  }
}

.dialogue__filler {
  display: flex;
  flex-grow: 1;
}

.dialogue__divider-text {
  position: relative;
  margin-inline: auto;
  padding: 0 8px;
  font-weight: bold;
  background-color: $color-anti-flash-white;
}

.dialogue__form {
  display: flex;
  gap: 4px;
}

.dialogue__input {
  flex-grow: 1;
  min-width: 0;
  padding: 5px;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid $color-black-olive;
  border-radius: 5px;

  @include media-hover {
    &:hover:not(:disabled) {
      outline: 1px solid $color-black-olive;
    }
  }

  &:disabled {
    opacity: 0.5;

    &::placeholder {
      opacity: 0;
    }
  }
}

.dialogue__button {
  padding: 5px;
}

.dialogue__close-button {
  display: none;
  padding-inline: 8px;

  &--shown {
    display: block;
  }
}

.dialogue__popover {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: fit-content;
  margin: 0;
  padding: 1%;
  background: $color-anti-flash-white;
  border: 1px solid $color-granite;
  border-radius: 5px;
  transform: translate(-50%, 0);
}
