@use "../global-styles/forward" as *;

:root {
  --page-padding: 20px;

  @media (width <= 520px) {
    --page-padding: 10px;
  }
}

.app-container {
  display: grid;
  min-height: 100svh;
  padding: var(--page-padding);
}

.app-container__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $width-max;
  height: 100%;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;

  .app-container--opaque & {
    opacity: 1;
  }
}
